<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="body">
        <header>
            <div class="wrap">
                <nav>
                    <a href="/"><img src="/A1.jpg" height=80px></img></a>
                        <ul>
                            <li><a class="active" href="/">HOME</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/signup">SIGN UP</a></li>
                        </ul>
                </nav>
            </div>
            <section>
                <div class="welcome-text">
                    <h1 style="color:red">WELCOME TO OUR WEBPAGE</h1>
                        <a href="/login"> I have an account</a>
                        <a href="/signup"> I am new to this page</a>
                </div>
            </section>
        </header>

    </body>
</html>